*{
    margin: 0px;
}
body{
    background-color: rgb(255, 248, 219);
    color: rgb(0, 22, 119);
    font-family: cursive;
}
h1{
    text-align: center;
    border-bottom: 2px solid rgba(204, 15, 47);
    padding-bottom: 2px;
    
}
#tabuleiro {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border: 1px solid rgb(0,15,85);
    background-color: rgb(173,216,230);
}
.linha{
    display: flex;
}
.linha div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
    border: 2px solid rgb(0,15,85);
    font-size: 60px;
    cursor: pointer;
}
.linha div:hover {
    background-color: aliceblue;
}

.conteudo{
    display: flex;
}
.jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.resumo{
    width: 50%;
    padding: 20px;
}
.resumo h2{
    text-align: center;
}
.livro{
    width: 100px;
}

/*-------------------------------------------------*/

header{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.grid div{
    background-color: black;
    color: white;
    margin-top: 20px;
    height: 200px;
    width: 200px;
    

}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(600px , 1fr));
    gap:3px;
    text-align: center;
}
.section{
    font-display: flex;
    justify-content: center;
    text-align: center;
}