*{
    margin: 0px;
}
body{
    background-image: url("../images/fundo.png");
    color: rgb(0, 22, 119);
    font-family: cursive;
}
h1,h2{
    margin-left:40px;
    margin-right:40px;
    text-align: center;
    border-bottom: 2px solid rgba(204, 15, 47);
    padding-bottom: 2px;
    
}
#tabuleiro {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border: 1px solid rgb(0,15,85);
    background-color: rgb(173,216,230);
}
.linha{
    display: flex;
}
.linha div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
    border: 2px solid rgb(0,15,85);
    font-size: 60px;
    cursor: pointer;
}
.linha div:hover {
    background-color: aliceblue;
}

.conteudo{
    display: flex;
}
.jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.resumo{
    width: 50%;
    padding: 20px;
}
.resumo h2{
    text-align: center;
}
.livro{
    height: 150px;
}

*{
    margin: 0px;
}

header{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.grid div{
    background-color: black;
    color: white;
    height: 200px;
    width: 200px;
    display: flex;
}
.grid div:hover{
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
}
.grid div p{
    font-size: 150%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    text-shadow: 2px 2px 1px black;
    margin-bottom: 5px;
}
.grid{
    margin-top: 20px;
    width:fit-content;
    display: grid;
    grid-template-columns: 50%  1fr;
    gap:10px;
}
.section{
    display: flex;
    justify-content: center;
    text-align: center;
    width: inherit;
}
#xadrez{
    background-image: url("../images/chess.jpg");
    background-size: cover;

}
#damas{
    background-image: url("../images/damas.jpg");
    background-position: center;
    background-size: 180%;
}
#poker{
    background-image: url("../images/poker.jpg");
    background-size: 140%;
    background-position: center;
    
    
}
#tictactoe{
    background-image: url("../images/tictactoe.jpg");
    background-size: cover;
}
.secLoja{
    margin-top: 50px;
}
.relacionados{
    display: flex;
    padding: 10px;
}
.relacionados figure{
    padding: 10px;
    height: fit-content;
} 
.ilustracaoJogo{
    margin: 40px;
    width: 450px;
}